body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
header {
    background-color: #170132;
    padding: 30px;
    border-radius: 30px
}
.foto {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 50%;
    
}
.foto img {
    border-radius: 50%;
  }
.info {
    overflow: auto;
}
h1 {
    margin: 0;
    font-size: 36px;
    color: aliceblue
}
p {
    margin: 0;
    font-size: 18px;
    color: aliceblue
}
.contato {
    margin-top: 20px;
}
.contato p {
    margin-bottom: 5px;
}
.textbox1 {
    background-color: #170132;
    width: 250px;
    height: 500px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 30px
    
}
.textbox2 {
    background-color: #170132;
    width: 250px;
    height: 150px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 30px
    
    
}
.experience h2 {
    margin-top: 1px;
    color: #ffffff;
}
.experience h3 {
    margin-top: 1px;
    color: #ffffff;
}
.experience h4 {
    margin-top: 30px;
    color: #ffffff;
}
.experience p {
    margin-top: 1px;
    color: #ffffff;
}
.education {
    margin-top: 40px;
}
.education h2 {
    margin-bottom: 20px;
}
.education .course {
    margin-bottom: 20px;
}
.education .course h3 {
    margin-bottom: 5px;
}
.education .course p {
    margin-bottom: 5px;
}
.skills {
    margin-top: 40px;
}
.skills h2 {
    margin-bottom: 20px;
}
.skills p {
    margin-bottom: 5px;
}
.languages {
    margin-top: 40px;
}
.languages h2 {
    margin-bottom: 20px;
}
.languages p {
    margin-bottom: 5px;
}

a[href*="https://github.com"] {
    background:url(https://github.com/favicon.ico) no-repeat left center;
    padding-left: 35px;
    }

a[href*="https://linkedin.com/in/nome-completo"] {
    background:url(https://linkedin.com/favicon.ico) no-repeat left center;
    padding-left: 35px;
    }