body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
header {
    background-color: #170132;
    padding: 30px;
    border-radius: 30px
}
.foto {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 50%;

}
.foto img {
    border-radius: 50%;
}
.info {
    overflow: auto;
}
h1 {
    margin: 0;
    font-size: 36px;
    color: aliceblue
}
p {
    margin: 0;
    font-size: 18px;
    color: aliceblue
}
.contato {
    margin-top: 20px;
}
.contato p {
    margin-bottom: 5px;
}
.textbox1 {
    background-color: #170132;
    margin-top: 15px;
    padding: 15px;
    border-radius: 30px

}
.textbox2 {
    background-color: #170132;
    margin-top: 15px;
    padding: 15px;
    border-radius: 30px
}
.textbox3 {
    background-color: #170132;
    margin-top: 15px;
    padding: 15px;
    border-radius: 30px
}
.experience h2 {
    margin-top: 1px;
    color: #ffffff;
}
.experience h3 {
    margin-top: 1px;
    color: #ffffff;
}
.experience h4 {
    margin-top: 30px;
    color: #ffffff;
}
.experience p {
    margin-top: 1px;
    color: #ffffff;
}
.experience ul {
    margin-top: 1px;
    color: #ffffff;
}

table {
    background-color: #170132;
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    text-align: left;
    color: #ffffff;
    padding: 8px;
}

th {
    background-color: #170132;
}